.alt-header {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--horizontal-space);
  padding-bottom: 15px;
  background-color: var(--green);
  border-radius: 20px;
  color: #2e2e2e;
  z-index: 2;
}

.alt-header__title {
  font-size: 25px;
}

.alt-header__column {
  width: 33%;
}
.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}
.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
